.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
    gap: 10px;

    h2 {
        color: $textSecondary;
        font-family: 'Oswald', sans-serif;
    }

    a {
        width: 90%;
        padding: 0;

        .aux-btn {
            padding: 10px;
            border: none;
            border-radius: 2px;
            background-color: $auxButton;
            color: whitesmoke;
            font-size: 20px;
            width: 100%;
        }
    }

    .container-activities {
        width: 100%;

        .container-activities-by-type {
            display: flex;
            flex-direction: column;
            margin: 10px auto;
            width: 90%;
            
            .toggle-type-button {
                padding: 10px;
                border: none;
                border-radius: 2px;
                background-color: $buttonColor;
                color: white;
                font-size: 20px;
                width: 100%;
                
            }
           
            .activities-card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 25px 0;
                
               
            }
        }
    }



    .container-activities-by-type.showContainer {
        border: 3px solid $buttonColor;
        border-radius: 4px;
    }

    

    
}