.login-title {
    padding: 15px 0;
}

.login-page {
    display: flex;
    padding: 5px;
    justify-content: center;


    .container-form {
        padding: 1rem;
        border: solid #f7f7f9;
        border-width: 0.2rem 0 0;
        background-color: $azulFondo;
        width: 500px;
        border-radius: .5em;

        .user-input {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                display: inline-block;
                margin: 0.5rem 0;
                padding-top: 1rem;
                color: white;
                text-shadow: #CF844A 1px 1px;
            }

            input {
                display: block;
                width: 100%;
                padding: 0.75rem 0;
                font-size: 1rem;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
                text-align: left;

            }

            p {
                color: white;
                text-shadow: #CF844A 1px 1px;
                font-size: smaller;

            }

            input:focus {
                background: $buttonColor;
            }


        }

        .pass-input {
            text-align: left;


            input {
                display: block;
                width: 100%;
                padding: 0.75rem 0;
                font-size: 1rem;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
                text-align: left;
            }

            input:focus {
                background: $buttonColor;
            }

            label {
                display: inline-block;
                margin: 0.5rem 0;
                padding-top: 1rem;
                color: white;
                text-shadow: #CF844A 1px 1px;
            }


        }

        .btn {
                display: inline-block;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0.25rem;
                transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
                margin: 10px 0;
        }

    }

    .btn:hover {
        background-color: $buttonColor;
        color: white;
        cursor: pointer;

    }


}