/* Not an actual class, just for testing colors */
.colorPaletteTest {
    color: #CF844A; 
    color: #B9F0B9;
    color: #F0934D;
    color: #614ACF;
    color: #412CA3;
    color: #ff991c;
    color: #F28500;
    color: #F28500;
}

$azulFondo: #614ACF;
$azulOscuroFondo: #412CA3;
$buttonColor: #F28500;
$textInButton: #B9F0B9;
$naranjaFondo: #CF844A;
$naranjaFondo2: #ff991c;


//screen-sizes
$desktop: 992px;
$tablet: 680px;
$movil: 440px;