/* Not an actual class, just for testing colors */
.colorPaletteTest {
    color: #CF844A; 
    color: #B9F0B9;
    color: #F0934D;
    color: #614ACF;
    color: #412CA3;
    color: #F28500;
}

$azulFondo: #614ACF;

$buttonColor: #F28500;

$textInButton: #B9F0B9;