@import url("https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap");

* {
  font-family: "Radio Canada", sans-serif;
  text-align: center;
/*   background-color: #f6f7f8; */
  margin: 0px;
}

@import "./pages/HomePage/HomePage";
@import "./variables";
@import "/src/shared/components/HamburgerMenu/HamburgerMenu";


/* 
#CF844A
#B9F0B9
#F0934D
#614ACF
#412CA3
#F28500 
*/
