@import url("https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap");
@import "./pages/HomePage/HomePage";
@import "./variables";
@import "./mixins";
@import "/src/shared/components/HamburgerMenu/HamburgerMenu";
@import "./pages/DashboardPage/DashboardPage";
@import "./pages/LoginPage/LoginPage";
@import "./pages/ProfilePage/ProfilePage";



* {
  font-family: "Radio Canada", sans-serif;
  text-align: center;
/*   background-color: #f6f7f8; */
  margin: 0px;
}




/* 
#CF844A
#B9F0B9
#F0934D
#614ACF
#412CA3
#F28500 
*/
